<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
    <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="w-1/3 px-6 py-3">Nombre</th>
        <th scope="col" class="w-2/3 px-6 py-3">Descripción</th>
        <th scope="col" class="w-min flex-row px-6 py-3">
          <button
            class="relative rounded-md bg-green-500 p-2 text-white hover:bg-green-400"
            (click)="createGenero()"
          >
            AÑADIR
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="border-b bg-white dark:border-gray-700 dark:bg-gray-900"
        *ngFor="let genero of generos"
      >
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
          <input
            type="text"
            class="w-1/3 min-w-fit"
            [value]="genero.nombre"
            [readonly]="editId !== genero.id"
          />
        </th>
        <td class="px-6 py-4">
          <input
            type="textarea"
            class="w-2/3"
            [value]="genero.descripcion"
            [readonly]="editId !== genero.id"
          />
        </td>
        <td class="px-6 py-4 [&>*]:mx-1.5">
          <app-button-edit (click)="setEditable(genero)"></app-button-edit>
          <app-button-delete (click)="deleteGenero(genero)"></app-button-delete>
        </td>
      </tr>
    </tbody>
  </table>
</div>
