<main class="flex min-h-screen flex-col align-middle">
  <app-toast-warning [eventObservable]="clickObservable" [message]="error"></app-toast-warning>
  <div class="my-auto">
    <h1 class="mb-4 text-center text-7xl font-bold tracking-tight text-indigo-500">Musicalist!</h1>

    <div class="2xl:1/4 mx-auto h-1/2 w-full space-y-6 p-4 sm:w-2/4 xl:w-1/3">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <app-form-input
          [control]="registerForm.controls.nombre"
          inputId="name"
          label="Name"
        ></app-form-input>
        <app-form-input
          [control]="registerForm.controls.email"
          inputId="email"
          label="Email"
          type="email"
        ></app-form-input>
        <app-form-input
          [control]="registerForm.controls.password"
          inputId="password"
          label="Password"
          type="password"
        ></app-form-input>
        <button
          id="btn-signup"
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Sign up
        </button>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Already have an account?
        <a
          [routerLink]="['/login']"
          class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
        >
          login
        </a>
      </p>
    </div>
  </div>
</main>
