<h1 class="text-3xl">{{title}}</h1>

<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <app-form-input
    [control]="registerForm.controls.nombre"
    inputId="nombre"
    label="Nombre"
  ></app-form-input>
  <app-form-input
    [control]="registerForm.controls.email"
    inputId="email"
    label="Email"
    type="email"
  ></app-form-input>
  <app-form-input
    [control]="registerForm.controls.password"
    inputId="password"
    label="Password"
    type="password"
  ></app-form-input>

  <div>
    <button type="submit" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium">Register</button>
  </div>
</form>

<a [routerLink]="['/login']">Login</a>