<main class="w-full p-8">
  <h1 class="mb-8 text-7xl font-bold tracking-tight text-indigo-500">MusicaList</h1>

  <app-header-admin (eventSelected)="setSelected($event)"></app-header-admin>

  <app-table-generos
    *ngIf="selected === 'generos'"
    [eventConfirm]="eventConfirm"
    (eventDelete)="openModal($event)"
  ></app-table-generos>
  <app-table-canciones *ngIf="selected === 'canciones'"></app-table-canciones>
  <app-modal-confirm
    [eventDelete]="eventDelete"
    (eventConfirm)="closeModal($event)"
  ></app-modal-confirm>
</main>
