<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
    <thead class="bg-gray-200 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="w-1/5 px-6 py-3">Id</th>
        <th scope="col" class="w-1/4 px-6 py-3">Nombre</th>
        <th scope="col" class="w-1/2 px-6 py-3">Descripción</th>
        <th scope="col" class="w-min flex-row px-6 py-3">
          <button
            class="relative rounded-md bg-green-500 p-2 text-white hover:bg-green-400"
            (click)="createGenero()"
          >
            AÑADIR
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        [class]="
          'border-b bg-gray-100 dark:border-gray-700 dark:bg-gray-900' +
          (editingId === genero.id ? ' bg-indigo-50' : '')
        "
        *ngFor="let genero of generos"
      >
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
          {{ genero.id !== -1 ? genero.id : '' }}
        </th>
        <td class="px-6 py-4">
          <input
            [id]="'nombre-' + genero.id"
            type="text"
            class="w-full bg-transparent outline-none"
            [value]="genero.nombre"
            [readonly]="editingId !== genero.id"
          />
        </td>
        <td class="px-6 py-4">
          <input
            [id]="'descripcion-' + genero.id"
            type="textarea"
            class="w-full bg-transparent outline-none"
            [value]="genero.descripcion || ''"
            [readonly]="editingId !== genero.id"
          />
        </td>
        <td class="px-6 py-4 [&>*]:mx-1.5">
          <app-button-edit
            (click)="setEditable(genero.id)"
            *ngIf="editingId !== genero.id"
          ></app-button-edit>
          <app-button-save
            (click)="updateGenero(genero)"
            *ngIf="editingId === genero.id"
          ></app-button-save>

          <app-button-delete
            (click)="deleteGenero(genero.id)"
            *ngIf="editingId !== genero.id"
          ></app-button-delete>
          <app-button-cancel
            (click)="cancelEdit(genero)"
            *ngIf="editingId === genero.id"
          ></app-button-cancel>
        </td>
      </tr>
    </tbody>
  </table>
</div>
