<div class="absolute flex h-20 w-full items-center bg-white/60 px-4 backdrop-blur-md">
  <button
    class="absolute cursor-pointer rounded-md bg-indigo-600 p-2 pt-1 text-white hover:bg-indigo-500"
    (click)="goBack()"
  >
    ←
  </button>
  <h1 class="mx-auto align-middle text-7xl font-bold tracking-tight text-indigo-500">
    {{ genero.nombre }}
  </h1>
</div>
<header class="fixed top-0 -z-20 h-2/3 w-full">
  <div class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-white"></div>
  <img
    class="m-auto h-full w-full overflow-hidden object-cover"
    [src]="genero.imagen || '../../../assets/imgs/placeholder.png'"
    alt="img"
  />
</header>
<main class="absolute top-1/2 w-full p-8">
  <div class="mx-auto flex w-2/3 overflow-hidden rounded-lg bg-white shadow-md">
    <div class="flex w-full flex-col p-5">
      <div class="mb-2 flex items-center justify-between border-b pb-1">
        <span class="text-base font-semibold uppercase text-gray-700">Canciones</span>
        <img
          class="w-4 cursor-pointer"
          src="https://p.kindpng.com/picc/s/152-1529312_filter-ios-filter-icon-png-transparent-png.png"
        />
      </div>

      <app-cancion-item
        *ngFor="let cancion of canciones"
        [cancion]="cancion"
        [starred]="cancionVotada(cancion.id)"
      ></app-cancion-item>
    </div>
  </div>
</main>
