<main class="relative flex min-h-full flex-col">
  <app-toast-warning [eventObservable]="clickObservable"></app-toast-warning>
  <div class="my-auto">
    <h1 class="mb-4 text-center text-7xl font-bold tracking-tight text-indigo-500">{{ title }}</h1>

    <div class="2xl:1/4 m-auto w-full space-y-6 p-4 sm:w-2/4 xl:w-1/3">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-form-input
          [control]="loginForm.controls.email"
          inputId="email"
          label="Email"
          type="email"
        ></app-form-input>
        <app-form-input
          [control]="loginForm.controls.password"
          inputId="password"
          label="Password"
          type="password"
        ></app-form-input>
        <button
          id="btn-login"
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Login
        </button>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Not a member?
        <a
          [routerLink]="['/signup']"
          class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
        >
          Sign up
        </a>
      </p>
    </div>
  </div>
</main>
