<h1>{{ title }}</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #form="ngForm">
  <app-form-input
    [control]="loginForm.controls.email"
    inputId="email"
    label="Email"
    type="email"
  ></app-form-input>
  <app-form-input
    [control]="loginForm.controls.password"
    inputId="password"
    label="Password"
    type="password"
  ></app-form-input>
  <button type="submit" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium">Login</button>
</form>

<a [routerLink]="['/signup']">Register</a>