<div class="min-h-screen p-8">
  <header class="sticky top-16 m-8 mb-16">
    <h1 class="mb-8 text-7xl font-bold tracking-tight text-indigo-500">MusicaList</h1>
    <h2 class="px-10 text-5xl">Generos</h2>
  </header>
  <div class="flex items-center justify-center">
    <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3">
      <app-card
        title="Beauty"
        img="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore adipisci placeat."
      ></app-card>
      <app-card
        title="Beyond Builder"
        img="https://images.unsplash.com/photo-1494145904049-0dca59b4bbad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore adipisci placeat."
      ></app-card>
      <app-card
        title="Shooting Star"
        img="https://images.unsplash.com/photo-1502675135487-e971002a6adb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore adipisci placeat."
      ></app-card>
      <app-card title="Genero" description="Un genero para la vida"></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
</div>
