<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
    <thead class="bg-gray-200 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="w-1/12 px-6 py-3">id</th>
        <th scope="col" class="px-6 py-3">Nombre</th>
        <th scope="col" class="px-6 py-3">Artista</th>
        <th scope="col" class="px-6 py-3">Album</th>
        <th scope="col" class="w-1/12 min-w-min px-6 py-3">Duración</th>
        <th scope="col" class="px-6 py-3">Genero</th>
        <th scope="col" class="w-[10%] px-6 py-3">Fecha</th>
        <th scope="col" class="w-1/12 min-w-min px-6 py-3">Imagen</th>
        <th scope="col" class="w-1/12 min-w-min px-6 py-3">
          <button
            class="rounded-md bg-green-500 p-2 text-white hover:bg-green-400"
            (click)="createCancion()"
          >
            AÑADIR
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        [class]="
          'border-b bg-gray-100 dark:border-gray-700 dark:bg-gray-900' +
          (editingId === cancion.id ? ' bg-indigo-50' : '')
        "
        *ngFor="let cancion of canciones"
      >
        <th
          scope="row"
          class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
        >
          {{ cancion.id !== -1 ? cancion.id : '' }}
        </th>
        <td class="px-6 py-4">
          <input
            [id]="'nombre-' + cancion.id"
            type="text"
            class="w-full bg-transparent outline-none"
            [value]="cancion.nombre"
            [readonly]="editingId !== cancion.id"
          />
        </td>
        <td class="px-6 py-4">
          <input
            [id]="'artista-' + cancion.id"
            type="text"
            class="w-full bg-transparent outline-none"
            [value]="cancion.artista"
            [readonly]="editingId !== cancion.id"
          />
        </td>
        <td class="px-6 py-4">
          <input
            [id]="'album-' + cancion.id"
            type="text"
            class="w-full bg-transparent outline-none"
            [value]="cancion.album"
            [readonly]="editingId !== cancion.id"
          />
        </td>
        <td class="px-6 py-4">
          <input
            [id]="'duracion-' + cancion.id"
            type="text"
            class="w-full bg-transparent outline-none"
            [value]="cancion.duracion"
            [readonly]="editingId !== cancion.id"
          />
        </td>
        <td class="px-6 py-4">
          <input
            [id]="'genero-' + cancion.id"
            type="text"
            class="w-full bg-transparent outline-none"
            [value]="cancion.artista"
            [readonly]="editingId !== cancion.id"
          />
        </td>
        <td class="px-6 py-4">
          <input
            [id]="'fecha-' + cancion.id"
            type="date"
            class="w-full bg-transparent outline-none"
            [value]="formatDate(cancion.fecha)"
            [readonly]="editingId !== cancion.id"
          />
        </td>
        <td class="px-6 py-4">
          <img *ngIf="editingId !== cancion.id" class="max-h-8" [src]="cancion.imagen" alt="foto" />
          <input
            *ngIf="editingId === cancion.id"
            [id]="'imagen-' + cancion.id"
            type="text"
            class="w-full bg-transparent outline-none"
            [value]="cancion.imagen || ''"
          />
        </td>
        <td class="px-6 py-4 [&>*]:mx-1.5">
          <app-button-edit
            (click)="setEditable(cancion.id)"
            *ngIf="editingId !== cancion.id"
          ></app-button-edit>
          <app-button-save
            (click)="updateCancion(cancion)"
            *ngIf="editingId === cancion.id"
          ></app-button-save>
          <app-button-delete
            (click)="onDelete(cancion.id)"
            *ngIf="editingId !== cancion.id"
          ></app-button-delete>
          <app-button-cancel
            (click)="cancelEdit(cancion)"
            *ngIf="editingId === cancion.id"
          ></app-button-cancel>
        </td>
      </tr>
    </tbody>
  </table>
</div>
